.categoryContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feauturedCategories {
    padding: 5px;
    /* margin-right: 20px; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuredCategory {
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .categoryContainer {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .feauturedCategories {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
