.categoryContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
}

.productDisplayContainer {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    place-items: center;
}

.otherProductsContainer {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otherProducts {
    width: 90%;
    margin: 35px auto;
}

.othersH2 {
    text-align: center;
}

@media (max-width: 767px) {
    .productDisplayContainer {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
    }
}