.sidePanelContainer {
    position: absolute;
    top: 0;
    left: -5%;
    width: 70%;
    height: 100vh;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    z-index: 400;
}