.bannerImgContainer {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    margin: 35px auto;
    /* padding: 15px; */
    box-sizing: border-box;
}

@media (max-width: 950px) {
    .bannerImgContainer {
        margin: 10px auto;
        background-attachment: unset;
    }
}