.sidedrawerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    min-width: 250px;
    padding: 15px 15px 0 15px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s ease;
    transform: translate(-140%);
    z-index: 600;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidedrawerContainer::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

.sidedrawerContainer::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #447c3d;
    border-radius: 10px;
}

.sidedrawerContainer.show {
    transform: translate(0);
    box-shadow: 0 0 12px 1px lightgray;
}