.product {
    text-decoration: none;
    width: 90%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productImgContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImg {
    width: 100%;
}

.productDetailsContainer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.productTitle {
    display: block;
    font-size: 1.1rem;
    color: rgb(55, 55, 55);
    /* margin: 2px; */
    text-transform: capitalize;
}

.productPrice {
    display: block;
    font-size: 1rem;
    /* color: rgb(55, 55, 55); */
    color: green;
}

.discount {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db0c0c;
    font-size: 13px;
    font-weight: 500;
    color: white;
}

@media (max-width: 767px) {
    .product {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .product {
        width: 100%;
    }

    .productTitle {
        font-size: 1.1rem;
    }

    .productPrice {
        font-size: 0.9rem;
    }
}