.landingPageMain {
    width: 100%;
    /* max-width: 1500px; */
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.displayContentMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingIntro {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.headingIntroImgContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.headingIntroImg {
    border-radius: 40px 0 40px 0;
    width: 90%;
}

.headingIntroDetails {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.linkContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
}

.header1 {
    font-size: 3rem;
    margin: 10px 0;
    color: #4b7d37;
}


.introDetails {
    font-size: 1.2rem;
    margin: 10px 0;
}

.orderNowBtn {
    width: 180px;
    height: 45px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderNowBtn:nth-child(1) {
    border: 2px solid #4b7d37;
    background-color: #4b7d37;
    color: white;
    margin-right: 10px;
}

.orderNowBtn:nth-child(2) {
    border: 2px solid #4b7d37;
    background-color: white;
    color: #3a6628;
    margin-left: 10px;
    transition: background-color 0.5s ease-out;
}

.orderNowBtn:nth-child(1):hover {
    background-color: #3a6628;
}

.orderNowBtn:nth-child(2):hover {
    background-color: #3a6628;
    color: white;
}

.colorContainerMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.colorContainer {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.color {
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 10px;
}

.deliveryContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.deliveryAddressGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.deliveryDetails {
    font-size: 1.1rem;
    margin: 5px 0;
    font-weight: 500;
}

.aboutProductContainer {
    width: 100%;
    max-width: 1500px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aboutDetailsContainer {
    width: 100;
    /* max-width: 50px; */
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aboutImgContainer {
    width: 100%;
    max-width: 350px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutImg {
    width: 100%;
}

.aboutHeader {
    font-size: 35px;
    margin: 0;
    margin-bottom: 10px;
}

.aboutPara {
    font-size: 16px;
    margin: 10px 0;
}

.aboutListContainer {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}

.aboutList {
    font-size: 16px;
    margin: 5px 0;
}

.aboutLink {
    position: relative;
    width: 180px;
    height: 45px;
    margin: 10px 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: 500;
    color: black;
    border: 2px solid gray;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}

.aboutLink::after {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    content: '';
    height: 3px;
    width: 0%;
    background-color: rgb(122, 122, 122);
    transition: width 0.5s ease-out;
}

.aboutLink:hover {
    background-color: black;
    color: white;
}

.aboutLink:hover::after {
    width: 60%;
}

.middlePartContainer {
    width: 100%;
    height: 600px;
    margin: 20px auto;
    padding: 30px;
    box-sizing: border-box;
    background-image: url('../../Assets/LandingPage/middlePart.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.middlePart {
    width: 100%;
    max-width: 450px;
    min-height: 273px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(circle farthest-side at center bottom, #02321c, #189242 125%); */
    background: radial-gradient(circle farthest-side at center bottom, #216e4b, #3ea160 125%);
    /* box-shadow: 0 0 12px 10px #00382057; */
    box-shadow: 0 0 12px 10px #00382057;
    color: white;
}

.middlePartDetails {
    text-align: center;
    font-size: 1rem;
}

.middlePartIcon {
    font-size: 25px;
}

.galleryContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galleryHeading1 {
    position: relative;
    font-size: 2rem;
    margin: 20px auto;
}

.galleryHeading1::after {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
    content: '';
    width: 65%;
    height: 2px;
    background-color: #4b7d37;
}
.galleryImgs {
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-content: center;
    place-items: center;
    
}

.galleryImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 12px 5px lightgray;
}

.galleryImg {
    width: 100%;
}

.otherProductContainer {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.otherProductHeading {
    position: relative;
    font-size: 2rem;
    margin: auto;
    /* text-align: center; */
}

.otherProductHeading::after {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
    content: '';
    width: 65%;
    height: 2px;
    background-color: #4b7d37;
}

.otherProductsSlider {
    width: 100%;
    margin: 50px auto;
}

@media (max-width: 950px) {
    .middlePartContainer {
        height: auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .headingIntro {
        height: auto;
        flex-direction: column;
    }
    
    .headingIntroImgContainer {
        width: 100%;
    }
    
    .headingIntroDetails {
        width: 100%;
    }
    
    .headingIntroImg {
        width: 100%;
        border-radius: 0;
    }
    
    .header1 {
        font-size: 2rem;
    }
    
    .aboutHeader {
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .middlePartContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .middlePart {
        padding: 50px;
        min-height: unset;
    }
}

@media (max-width: 650px) {
    .galleryImgs {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 550px) {
    .aboutImgContainer, .aboutDetailsContainer {
        max-width: unset;
    }

    .aboutLink {
        width: 100%;
    }
    
}

@media (max-width: 450px) {
}