.checkoutItemsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

.outerBox {
    width: 100%;
}

.checkoutItemHeader {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkoutItemsH3 {
    font-size: 17px;
    color: #4b7d37;
    margin: 20px 0 20px 30px;
}

.checkoutItems {
    width: 100%;
    max-height: 320px;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.checkoutItems::-webkit-scrollbar {
    background-color: white;
    width: 5px;
}

.checkoutItems::-webkit-scrollbar-thumb {
    color: #4b7d37;
}

.checkoutItem {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.checkoutImgContainer {
    height: 90px;
    width: 90px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutImg {
    width: 100%;
    background-color: #dfdfdf50;
}

.checkoutDetailsContainer {
    /* width: 125px; */
    margin-left: 10px;
}

.checkoutP {
    font-size: 13px;
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}
.totalContainer {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.totalItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalItem {
    font-size: 12px;
}

.totalItems:nth-of-type(3) {
    font-weight: 600;
}

.editOrders {
    display: block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgb(77, 77, 77);
    letter-spacing: 1px;
}

.editOrders:hover {
    color: #4b7d37;
}

@media (max-width: 932px) {
    .checkoutItems, .totalContainer {
        padding: 10px;
    }

    .checkoutItemsH3 {
        margin-left: 10px;
    }

    .outerBox:nth-of-type(1) {
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
    }

    .totalItems {
        justify-content: flex-start;
    }
    
    .totalItem {
        margin-right: 5px;
    }
}

@media (max-width: 768px) {

    .checkoutItemsH3 {
        margin-left: 10px;
    }

}