.changePasswordContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.formInputContainer {
    width: 100%;
    height: 30px;
    margin: 7px 0;
    border: 1px solid lightgray;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.formInput {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}

.btn {
    margin: 20px auto;
    width: 200px;
    height: 35px;
    background-color: #4b7d37;
    color: white;
    cursor: pointer;
    border: 1px solid #4b7d37;
}

@media (max-width: 500px) {
    .btn {
        width: 100%;
    }
}